body {
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #C08040;
}
h1 {
	color: #FFC040;
    text-align: center;
    background-color:rgba(00, 00, 00, 0.7);
    margin-left: 250px;
    margin-right: 250px;
}
h2{
   color: #FFC040;
    text-align: center;
    background-color:rgba(00, 00, 00, 0.7);
    margin-left: 150px;
    margin-right: 150px;
}
h3{
   color: #FFC040;
    text-align: center;
    background-color:rgba(00, 00, 00, 0.7);
    margin-left: 100px;
    margin-right: 100px;
}
img {
	height: 150vh;
	object-fit: fill;
}
#content {
	position: relative;
}
#pages{
	position: absolute;
	left: 1em;
	top: 0;
	z-index: 1;
	height: 98vh;
	overflow-y: scroll;
}

p {
    color: #FFC040;
    font-size: 1.5em;
    background-color:rgba(00, 00, 00, 0.7);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
ul {
    color: #FFC040;
    font-size: 1.5em;
    background-color:rgba(00, 00, 00, 0.7);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
button {
    margin: auto .5em;
    height: 3em;
    color: white;
    background-color: orange;
}
#flex-container {
    display: flex;
    width: 125%;
    justify-content: center;
    
}

#nav-tabs {
    transform-origin: top left;
    transform: rotate(90deg) translate(-87.78em, -50em);
    
}
#about {
    display: none;
}
#corpus {
    display: none;
}
#analysis {
    display: none;
}
#conclusion {
    display: none;
}
