body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #F7F8F1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}
body.analysis {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #F7F8F1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}
sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    order: 0;
}
h1 {
    color: white;
    text-align: center;
    background-color: black;

}
h2 {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 2px;


}
h3 {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 2px;


}
h3.sidebar-header {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 200px;

}
p {
    color: white;
    font-size: 1.3em;
    background-color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 120%;


}
ul {
    color: white;
    font-size: 1.3em;
    background-color: rgba(00, 00, 00, 1);




}
li {
    text-align: justify;



}
div.corpus {
    height: 98vh;
    overflow-y: scroll;
    height: 600px;
    width: 800px;


}

div.text {
    height: 98vh;
    height: 300px;
    width: 400px;


}
.texts-filtering-box {
    height: 100px;
    width: 200px;
    padding-top: 50px;

}
.texts-filtering-container {
    height: 200px;
    width: 200px;


}

.attributes-filtering-box {
    height: 98vh;
    overflow-y: scroll;
    height: 200px;
    width: 200px;


}

.cover {
    background: url("resize_front-cover-2.jpg");
    background-repeat: no-repeat;
    background-size: 800px, 800px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;




}
.open {
    background: url("resize_open-book-2.jpg");
    background-repeat: no-repeat;
    background-size: 800px, 800px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    



}
.closed {
    background: url("resize_back-cover-2.jpg");
    background-repeat: no-repeat;
    background-size: 790px, 900px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

}
.menu {
    position: relative;
    transform: rotate(90deg);
    font-size: 1.5em;
    text-align: center;
    background-color: darkgreen;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 2;


}
text {
    order: 0;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
}
.corpus {/*is this doing anything?*/
    background: url("resize_open-book-2.jpg");
    background-repeat: no-repeat;
    background-size: 800px, 800px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 1;

}

a:link {
    color: gold;
}
a:visited {
    color: white;
}
span.highlight.anger{
    color: red;
    font-weight:bold;
}
span.highlight.joy{
    color: pink;
    font-weight:bold;
}
span.highlight.contentment{
    color: green;
    font-weight:bold;
}
span.highlight.fear{
    color: yellow;
    font-weight:bold;
}
span.highlight.sorrow{
    color: lightblue;
    font-weight:bold;
}
span.highlight.pleading{
    text-decoration: underline;     
    text-decoration-color: orange;  
}
span.highlight.petitioning{
    text-decoration: underline;     
    text-decoration-color: #FF0099;  
}
span.highlight.violence{
    text-decoration: underline;     
    text-decoration-color: red;  
}
span.highlight.boasting{
    text-decoration: underline;     
    text-decoration-color: green;  
}
span.highlight.anxiety{
    text-decoration: underline;     
    text-decoration-color: lightblue;  
}
span.highlight.praise{
    text-decoration: underline;     
    text-decoration-color: lightpink;  
}
span.highlight.fear{
    text-decoration: underline;     
    text-decoration-color: yellow;  
}
span.highlight.righteousness{
    text-decoration: underline;     
    text-decoration-color: #CC80CC;  
}